---
icon: check
layout:
  width: default
  title:
    visible: true
  description:
    visible: false
  tableOfContents:
    visible: true
  outline:
    visible: true
  pagination:
    visible: true
  metadata:
    visible: true
  tags:
    visible: true
  actions:
    visible: true
---

# Living Wage Gap Verification

Auditing of the Calculations is also highly recommended to ensure validity of the data.&#x20;

To read more about our verification see the [Step 3](https://www.idhsustainabletrade.com/living-wage-platform/verifying-calculations/) of the Living Wage Roadmap.

The [Guidelines for Auditing](https://www.idhsustainabletrade.com/uploaded/2024/10/IDH-Auditing-Guidelines-2024.pdf) establish the _minimum_ procedures for auditing wage data and living wage gaps, which have been agreed among the standards and certification systems that IDH recommends.

The [Base Report](https://www.idhsustainabletrade.com/uploaded/2023/05/IDH-Base-report-updated-design-06032023.pdf) serves as the physical evidence to support auditors’ verification of wage data and living wage gap calculations.

The[ list of accredited auditors](https://impactbuying.com/academy/living-wage-training/certified-organisations/) includes the auditors and inspectors who have successfully completed IDH training for verifying living wage gaps, along with their license number, which is required for issuing the IDH Baseline Report.

If you are planning to get your living wage gap calculations verified it is possible to include additional information in the "_Add-ons"_ section of the tool, to provide some context in your report.

